[submodule "lolengine"]
	path = src/3rdparty/lolengine
	url = https://github.com/lolengine/lolengine
	branch = master
	update = merge

[submodule "wiki"]
	path = wiki
	url = https://github.com/samhocevar/zepto8.wiki
	branch = master
	update = merge

[submodule "z8lua"]
	path = src/3rdparty/z8lua
	url = https://github.com/samhocevar/z8lua
	branch = zepto8
	update = merge
	upstream = https://github.com/lua/lua

[submodule "imgui-club"]
	path = src/3rdparty/imgui-club
	url = https://github.com/samhocevar/fork-imgui-club
	branch = master
	update = merge
	upstream = https://github.com/ocornut/imgui_club

[submodule "zep"]
	path = src/3rdparty/zep
	url = https://github.com/samhocevar/fork-zep
	branch = zepto8/experiments
	update = merge
	upstream = https://github.com/cmaughan/zep

[submodule "quickjs"]
	path = src/3rdparty/quickjs
	url = https://github.com/samhocevar/fork-quickjs
	branch = zepto8
	update = merge
	upstream = https://github.com/horhof/quickjs

[submodule "libretro-common"]
	path = src/3rdparty/libretro-common
	url = https://github.com/libretro/libretro-common
	branch = master
	update = merge

[submodule "lodepng"]
	path = src/3rdparty/lodepng
	url = https://github.com/lvandeve/lodepng
	branch = master
	update = merge
