[submodule "lol"]
	path = lol
	url = ../../lolengine/lol.git
[submodule "wiki"]
	path = wiki
	url = ../../samhocevar/zepto8.wiki.git
[submodule "z8lua"]
	path = src/3rdparty/z8lua
	url = ../../samhocevar/z8lua.git
	branch = zepto8
[submodule "imgui-club"]
	path = src/3rdparty/imgui-club
	url = ../../samhocevar/fork-imgui-club.git
[submodule "zep"]
	path = src/3rdparty/zep
	url = ../../samhocevar/fork-zep.git
[submodule "quickjs"]
	path = src/3rdparty/quickjs
	url = ../../samhocevar/fork-quickjs.git
