[submodule "lol"]
	path = lol
	url = ../../lolengine/lol.git
[submodule "wiki"]
	path = wiki
	url = ../zepto8.wiki.git
[submodule "src/z8lua"]
	path = src/z8lua
	url = ../z8lua.git
	branch = zepto8
[submodule "src/3rdparty/imgui-color-text-edit"]
	path = src/3rdparty/imgui-color-text-edit
	url = ../fork-imgui-color-text-edit.git
[submodule "src/3rdparty/imgui-club"]
	path = src/3rdparty/imgui-club
	url = ../fork-imgui-club.git
[submodule "src/3rdparty/portable-file-dialogs"]
	path = src/3rdparty/portable-file-dialogs
	url = ../portable-file-dialogs.git
[submodule "src/3rdparty/zep"]
	path = src/3rdparty/zep
	url = ../fork-zep.git
